name: Build and Publish to PyPI (on test branch)

on:
  push:
    branches:
      - 'test'

jobs:
  build-and-release:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.7'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Install ( dependencies)
        run: pip install .

      - name: Run tests
        run: |
          pip install pytest
          pytest

      - name: Build package
        run: python -m build

      - name: Publish to PyPI TEST
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/*



